<!-- Filter input -->
<div class="filters">
    <label for="proprietorFilter">Filter by Proprietor:</label>
    <input id="properietorFilter" type="text" placeholder="Enter propreitor name" />

    
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>Proprietor</th>
                <th>Property</th>
                
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John Doe</td>
                <td>123 Main St</td>
        
                <td>php 250,000</td>
                <td id="action-buttons">
                    <button>Message Proprietor</button>
                    <button>Upload Media</button>
                    <button>Post on Facebook</button>
                </td>
            </tr>
            <tr>
                <td>Emily Johnson</td>
                <td>456 Elm St</td>
                <td>php 300,000</td>
                <td id="action-buttons">
                    <button>Message Proprietor</button>
                    <button>Upload Media</button>
                    <button>Post on Facebook</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
