<div class="m-4">
    <h2>Core Features</h2>
    <div class="d-flex flex-row gap-3 w-75 justify-content-center w-100">
        <div>
            <div></div>
            <div><h3>Feature 1</h3></div>
        </div>
        <div>
            <div></div>
            <div><h3>Feature 2</h3></div>
        </div>
        <div>
            <div></div>
            <div><h3>Feature 3</h3></div>
        </div>
        <div>
            <div></div>
            <div><h3>Feature 4</h3></div>
        </div>
    </div>
</div>