<!-- <div class="m-5 d-flex flex-column align-items-center gap-3">
    <h2>Core Features</h2>
    <div class="d-flex flex-column gap-5 w-75 align-items-center w-100">
        <div class="d-flex flex-row justify-content-between w-100">
            <div class="w-100">
                <div></div>
                <h5>Verified Listings & Agent Network</h5>
                <span>Ensures all properties and agents are vetted and trustworthy for a secure and transparent experience.</span>
            </div>
            <div class="w-100">
                <div></div>
                <h5>Smart Property Recommender</h5>
                <span>AI-powered suggestions based on user preferences, behavior, and location data to streamline property discovery.</span>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-between w-100">
            <div class="w-100">
                <div></div>
                <h5>Offer Management & Lead Tracking</h5>
                <span>Buyers can send templated offers; agents can label, track, and follow up on leads efficiently.
                </span>
            </div>
            <div class="w-100">
                <div></div>
                <h5>Integrated Scheduling & Visit Management</h5>
                <span>Enables buyers and agents to book, confirm, and manage property visits directly within the app.</span>
            </div>
        </div>
        <div class="d-flex flex-column align-items-center w-100">
            <div></div>
            <h5>Integrated Scheduling & Visit Management</h5>
            <span>Instant AI-generated pricing with the option for certified appraiser verification—ensuring accurate and trusted property values.</span>
        </div>
    </div>
</div> -->

<div class="m-5 d-flex flex-column align-items-center gap-3">
    <div class="heading-with-lines mb-5">
        <div class="line"></div>
        <h1>Core Features</h1>
        <div class="line"></div>
      </div>
    <div class="d-flex flex-column gap-4 w-75 align-items-center w-100">
        <div class="d-flex flex-row justify-content-center w-100 gap-4">
            <div class="feature-item">
                <div><img src="/Frame 1.svg" alt="f1" class="img-fluid"></div>
                <h5>Verified Listings & Agent Network</h5>
                <span>Ensures all properties and agents are vetted and trustworthy for a secure and transparent experience.</span>
            </div>
            <div class="feature-item">
                <div><img src="/Frame 2.svg" alt="f2" class="img-fluid"></div>
                <h5>Smart Property Recommender</h5>
                <span>AI-powered suggestions based on user preferences, behavior, and location data to streamline property discovery.</span>
            </div>
            <div class="feature-item">
                <div><img src="/Frame 3.svg" alt="f3" class="img-fluid"></div>
                <h5>Offer Management & Lead Tracking</h5>
                <span>Buyers can send templated offers; agents can label, track, and follow up on leads efficiently.</span>
            </div>
        </div>

        <div class="d-flex flex-row justify-content-center w-100 gap-4">
            <div class="feature-item">
                <div><img src="/Frame 4.svg" alt="f4" class="img-fluid"></div>
                <h5>Integrated Scheduling & Visit Management</h5>
                <span>Enables buyers and agents to book, confirm, and manage property visits directly within the app.</span>
            </div>
            <div class="feature-item">
                <div ><img src="/Frame 5.svg" alt="f5" class="img-fluid"></div>
                <h5>Instant Pricing & Appraiser Verification</h5>
                <span>Instant AI-generated pricing with the option for certified appraiser verification—ensuring accurate and trusted property values.</span>
            </div>
        </div>
    </div>
</div>