.partner-logo {
  width: 150px; /* Set a fixed width for the logos */
  height: auto; /* Maintain aspect ratio */
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner-logo img {
  max-width: 100%; /* Ensure the image fits within the div */
  height: auto; /* Maintain aspect ratio */
}


.heading-with-lines {
  display: flex;
  align-items: center;
  gap: 1rem; /* space between lines and text */
  width: 100%; /* full width of parent */
}

.heading-with-lines .line {
  flex-grow: 1;           /* lines expand to fill space */
  height: 2px;            /* thickness of line */
  background-color: #333; /* line color */
}
  
.heading-with-lines h1 {
  margin: 0;
  white-space: nowrap;    /* prevent wrapping */
  /* font-weight: bold;
  font-size: 2rem; */
  text-align: center;
}