<!-- <div class="agent-profile">
    <h1>Hello, Agent John!</h1>
    <div class="profile-details">
        <a href="/agent/view-performance">View Performance</a>
        <a href="/agent/verify-property">Verify Properties</a>
        <a href="/agent/trainings">Trainings</a>
        <a href="/agent/scheduled-visits">Scheduled Visits</a>
        <a href="/agent/manage-leads">Manage leads</a>
        <a href="/agent/coordinate-offers">Coordinate Offers</a>
        <a href="/agent/assigned-properties">Assigned Properties</a>
    </div>
</div> -->

<router-outlet></router-outlet>