.banner {
    width: 100%; /* Ensures the banner takes up 100% width */
    height: 450px; /* Set a height for the banner */
    background-image: linear-gradient(#4a4a4a80, #4a4a4a80), url('../../../assets/banner.jpg'); /* Add a grey tint overlay */
    background-size: cover; /* Ensures the image covers the entire banner */
    background-position: center; /* Centers the image */
    display: flex; /* Optional: to center content inside the banner */
    justify-content: center; /* Optional: centers horizontally */
    align-items: center; /* Optional: centers vertically */
}