<nav class="navbar navbar-expand-lg bg-body-tertiary pt-3 pb-3 pe-5 ps-5">
  <div class="container-fluid">
    <ng-container>
      <div class="home-logo"></div>
    </ng-container>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-4">
        <li class="nav-item">
      <a routerLink="/dash">Home</a>
        </li>
        <li class="nav-item">
          <a>About Us</a>
        </li>
        <li class="nav-item">
          <a>Blogs</a>
        </li>
        <li class="nav-item">
          <a>Find an Agent</a>
        </li>
      </ul>
      <div class="d-flex flex-row gap-3">
        <a routerLink="/internalmsg">Inbox</a>
        <ng-container>
          <a style="cursor: pointer">Log Out</a>
        </ng-container>
      </div>
    </div>
  </div>
</nav>