<nav class="navbar navbar-expand-lg bg-body-tertiary pt-3 pb-3 pe-4 ps-4">
  <div class="container-fluid">
    <div class="app-logo">
      <img src="/LOGO.png" alt="LOGO" class="img-fluid">
    </div>
    <div class="collapse navbar-collapse ms-3" id="navbarTogglerDemo01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-4">
        <li class="nav-item">
      <a routerLink="/dash">Home</a>
        </li>
        <li class="nav-item">
          <a>About Us</a>
        </li>
        <li class="nav-item">
          <a>Blogs</a>
        </li>
        <li class="nav-item">
          <a>Find an Agent</a>
        </li>
      </ul>
      <div class="d-flex flex-row gap-3">
        <a routerLink="/platform-wide/internal-messaging">Inbox</a>
        <ng-container>
          <a style="cursor: pointer">Log Out</a>
        </ng-container>
      </div>
    </div>
  </div>
</nav>