<div>
    <div>

    </div>
    <div>
        <h3>Media Upload</h3>
        <form action="">
            <div class="row">
                <div class="col">
                    <div>
                        <label for="">Photos (Min. of 3 images [front, interior, back])</label>
                        <input type="file">
                    </div>
                    <div>
                        <label for="">Showcase/Preview</label>
                        <!-- ngFor -->
                        <div>
                            <img src="" alt="image 1">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <label for="">Video Tour</label>
                        <input type="file">
                    </div>
                    <div class="d-flex flex-column">
                        <label for="">Showcase/Preview</label>
                        <!-- ngFor -->
                        <video width="320" height="240" controls>
                            <source src="movie.mp4" type="video/mp4">
                            <source src="movie.ogg" type="video/ogg">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
            <div>
                <button>Next</button>
            </div>
        </form>
    </div>
</div>