<div class="modal-overlay">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Filter</h2>
            <button class="close">&times;</button>
        </div>
        <div class="modal-body">
            <div class="type">
                <label for="type">Type:</label>
                <select id="type"></select>
            </div>
            <div class="prop-type">
                <label for="prop-type">Property Type:</label>
                <select id="prop-type"></select>
            </div>
            <div class="property-sub-type">
                <label for="property-sub-type">Property Sub-Type:</label>
                <select id="property-sub-type"></select>
            </div>
            <div class="price">
                <label>Price:</label>
                <div class="min">
                    <label for="min-price">Min:</label>
                    <select id="min-price"></select>
                </div>
                <div class="max">
                    <label for="max-price">Max:</label>
                    <select id="max-price"></select>
                </div>
            </div>
            <div class="sort-by">
                <label>Sort By:</label>
                <div class="date-posted">
                    <label for="date-posted">Date Posted:</label>
                    <select id="date-posted"></select>
                </div>
                <div class="price-order">
                    <label for="price-order">Price Order:</label>
                    <select id="price-order"></select>
                </div>
            </div>
        </div>
    </div>
</div>



