<div class="container-fluid">
    <div>

    </div>
    <div>
        <h3>Property Details</h3>
        <form action="" class="d-flex flex-column gap-5">
            <div class="row">
                <div class="col">
                    <div>
                        <label for="">Property Title</label>
                        <input type="text" placeholder="Enter title...">
                    </div>
                    <div>
                        <label for="">Property Title</label>
                        <select name="" id="">
                            <option value="">Select Property type...</option>
                        </select>
                    </div>
                    <div>
                        <label for="">Property Title</label>
                        <select name="" id="">
                            <option value="">Select Listing type...</option>
                        </select>
                    </div>
                    <div>
                        <label for="">Price</label>
                        <input type="number" placeholder="Enter price...">
                    </div>
                </div>
                <div class="col">
                    <div>
                        <div>
                            <label for="">Bedrooms</label>
                            <input type="text" placeholder="No. of Bedrooms">
                        </div>
                        <div>
                            <label for="">Bathrooms</label>
                            <input type="text" placeholder="No. of Bathrooms">
                        </div>
                    </div>
                    <div>
                        <label for="">Floor Area/Lot Area (in sq meters)</label>
                        <input type="text" placeholder="No. of Bedrooms">
                    </div>
                    <div>
                        <label for="">Amenities</label>
                        <div>
                            <!-- *ngFor -->
                            <div>
                                <input type="checkbox">
                                <label for="">Wi-Fi</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div>
                        <label for="">Condition</label>
                        <select name="" id="">
                            <option value="">Select Condition type...</option>
                        </select>
                    </div>
                    <div>
                        <label for="">Description</label>
                        <textarea name="" id="" placeholder="Enter Description..."></textarea>
                    </div>
                </div>
                <div class="col">
                    <label for="">Address</label>
                    <div>
                        <label for="">Complete Address</label>
                        <input type="text" placeholder="Address">
                    </div>
                    <div class="d-flex">
                        <div>
                            <label for="">Region</label>
                            <select name="" id="">
                                <option value="">Select region...</option>
                            </select>
                        </div>
                        <div>
                            <label for="">Province</label>
                            <select name="" id="">
                                <option value="">Select province...</option>
                            </select>
                        </div>
                        <div>
                            <label for="">Municipality</label>
                            <select name="" id="">
                                <option value="">Select municipality...</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>