<div class="d-flex row">
    <div class="col">
        <img src="" alt="Property Image">
        <div>
            <h6>Property Name</h6>
            Location: address
        </div>
    </div>
    <div class="col">
        <img src="" alt="Buyer profile">
        <div>
            <h6>Buyer Name</h6>
            Contact Info: email / mobile number
        </div>
    </div>
    <div class="col">
        Date Requested: date
    </div>
    <div class="col d-flex flex-column">
        Status: COMPLETED
        <button>Update Schedule</button>
    </div>
</div>