<div>
    <div>

    </div>
    <div>
        <h3>Documents Upload</h3>
        <form action="">
            <div>
                <label for="">Title/Deed of Sale</label>
                <input type="file">
            </div>
            <div>
                <div>
                    <label for="">Tax Declaration</label>
                    <input type="email" placeholder="Email">
                </div>
            </div>
            <div>
                <label for="">Valid ID</label>
                <input type="file">
            </div>
            <div>
                <button>Next</button>
            </div>
        </form>
    </div>
</div>